<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options Indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.yurymart\.ru)(:80)? [NC]
RewriteRule ^(.*) http://yurymart.ru/$1 [R=301,L]
Redirect permanent http://yurymart.ru/ https://www.yurymart.ru/
order deny,allow
